* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(./Human.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
section{
    width: 40%;
    height: 50%;
    background-color: wheat;
    position: relative;
    left: calc(50% - 40% / 2);
    top: calc(50% - 50% / 2);
    text-align: left;
    padding: 100px 100px;
    box-sizing: border-box;
    border-radius: 35px;
    background-color: #ffffff05;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    word-spacing: 10px;
}
section *{
    color: white;
}